body{
	text-align: center;
}

#wrapper{
	position: relative;
	margin: 0 auto;
}

#nav{
	position: fixed;
	/* center the element */
	z-index: 99;
	top: 0;
	right: 0;
	left: 0;
	margin: 0 auto;
	/* give it dimensions */
	min-height: 90px;
	width: 1320px;
}

#page{
	position: relative;
	width: 1320px;
	margin: 0 auto;
	margin-top: -220px;
}

#form{
	position: absolute;
	top: -550px; /* scroll to top: 20px */
	right: 85px;
}

#btn-contact{
	position: absolute;
	top: 340px;
	right: 87px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	width: 135px;
	height: 44px;
}
